@charset "utf-8";

// Overwrite some Bulma styling
$gsgreen: #39c100;
$gslogogreen: #486932;

$primary: $gsgreen;
$link: $gslogogreen;

// Import Bulma
@import "../bulma-0.7.1/bulma.sass";

// Style
.is-vertical-center {
  display: flex;
  align-items: center;
}
.icon.is-in-li {
  position: relative;
  left: -1rem;
  top: 7px;
  width: 2rem;
  font-size: 2rem;
  float: left; 
}
ul.has-icons-left.is-size-5 > li {
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
}
.card.has-same-height {
  display: flex;
  flex-direction: column;
  height: 100%;
  > .card-footer {
    margin-top: auto;
  }
}
.has-margin-top {
  margin-top: 1rem;
}
a.is-darklink {
  color: $primary;
  &:hover {
    color: $link;
  }
}
.svg-litecoin {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -.225em;
  font-size: 1.33333em;
}
.has-text-small {
  font-size: small;
}
.nobr {
  white-space: nowrap;
}
#gslogo {
  margin-bottom: 4rem;
}
