
 body {
	 padding: 50px;
   color : #2e9300 ;
	 font-family: "Open Sans";
   background-color : #f6ffe8
}
  {color : #2e9300}
 h1 { color: #000000 ;
 font-size : 50px  ;
 font-weight : bolder}
 h2 { color: #cccccc  ;
 font-size : 21px ;
 font-weight : normal}
 hr { color: #ff9000}
 div.zoznam,div.eq  {color: #f6ffe8}
 a,h3 {color : #ff9000}
 a:hover focus {color : #ffd000}
 a:visited {color : #ff0000}